.container {
  width: 300px;
}
.profile {
  text-align: center;
}
.description {
  padding: 30px;
}
.avatar {
  display: block;
  width: 150px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  border: 4px darksalmon solid;
}
.name {
  font-size: 24px;
  font-weight: 700;
}
.tag {
  color: #808080;
}
.location {
  color: #808080;
}

.stats {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: lightgray;
  align-items: center;
}
.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 75px;
  height: 75px;
}

.label,
.quantity {
  display: block;
  margin: 10px;
}
.label {
  color: darkslategrey;
}
.quantity {
  font-weight: 700;
}
